* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bgColor: hsl(0, 0%, 100%);
}
body {
  background-color: var(--bgColor);
  font-family: "Prompt", sans-serif;
}
.navbar {
  background-color: hsl(28, 100%, 87%);
  transition: 0.2s all;
}
.active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  font-weight: bold;
}
.icon {
  --size: 40px;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a i {
  font-size: 2rem !important;
}
.welcome {
  height: 90vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    hsl(28, 100%, 87%) 0%,
    hsl(29, 100%, 91%) 50%,
    hsl(28, 100%, 94%) 90%,
    var(--bgColor) 100%
  );
  padding: 3rem;
}
.welcome .row {
  height: 100%;
}

.welcome #text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.welcome #text h1 {
  font-weight: bold;
  font-size: 3rem;
}

.welcome #demo-img {
  width: 80%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0em 0.7em 2em #0002;
  animation: rotate 0.5s linear infinite alternate;
  transform-origin: center;
}

.message {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0em 0.7em 2em #0002;
  margin: 20px auto;
  position: relative;
  overflow: auto;
}

.message .connection {
  position: sticky;
  background-color: hsl(233, 6%, 29%);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
  top: 0;
}

.message .connection .winaction {
  display: flex;
  justify-content: start;
  align-items: center;
}

.message .connection .circle {
  --color: white;
  width: 15px;
  height: 15px;
  background-color: var(--color);
  margin: 2.5px;
  border-radius: 50%;
}
.message .connection .signal {
  font-size: 0.8rem;
  margin-right: 5px;
}

.message .msg {
  margin: 15px 10px;
}
.message .msg .name {
  background-color: hsl(0, 0%, 90%);
  border-radius: 50px;
  padding: 5px 10px;
}

.docs .video {
  max-width: 1000px;
  width: 100%;
  height: fit-content;
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin: 20px 0;
}
.docs h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.docs .h2-content {
  margin: 0 20px;
  word-wrap: break-word;
}
.docs .h2-content .img-content {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 20px 0;
  position: relative;
}
.docs .h2-content .img-content img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.docs .h2-content h3 {
  margin-top: 15px;
}
.docs .h3-content {
  margin: 0 20px;
  word-wrap: break-word;
}
pre {
  border-radius: 10px;
  margin-top: 10px;
}

@keyframes rotate {
  from {
    transform: rotateZ(-0.5deg);
  }
  to {
    transform: rotateZ(0.5deg);
  }
}

@media only screen and (max-width: 767px) {
  .welcome {
    padding: 0px;
  }
  .welcome #demo-img {
    margin-top: -200px;
  }
  .docs .h2-content .img-content {
    height: 300px;
  }
  .docs .h2-content, .docs .h3-content {
    margin: 0 5px;
  }
}
